/* -------HEADER-------------------------------------------------------------------------------------------------- */

*{
    margin: 0px;
    padding: 0px;
}

.header{
    height: 100px;
    width: 100%;
    background-color:aquamarine;
    border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}

.name{
    color: darkslategrey;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-top: 15px;
}

#logo{
    height: 90px;
    border-radius: 300px;
    /* margin: 5px 400px 5px 0px; */
    margin-right: 400px;
    padding-top: 5px;
    /* float: left; */
}

.nav{
    padding-top: 35px;
    padding-left: 400px;
    text-decoration: none;
    font-family: 'Poppins';
}

.nav button{
    background-color: #1ab26b; /* This HEX is the color of the button */
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

.nav button:hover{
    filter: brightness(1.30);
}

#navlinks{
    color: black;
    padding: 8px;
}

#navlinks:hover{
    color: bisque;
}


/* -------CONTENT-------------------------------------------------------------------------------------------------- */


#bgimg{
    /* background-size: cover; */
    /* width: 1920px; */
    /* height: 1000px; */
    backdrop-filter: blur(50px);
    height: 125%;
    width: 100%;
    filter: blur(4px);
}

h2{
    position: absolute;
    top: 30%;
    left: 78%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aquamarine;
}

#form{
    position: absolute;
    top: 35%;
    left: 74%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 250px;
    font-size: 20px;
    border: 2px solid aquamarine;
    box-shadow:10px 10px 15px black;
    color: aquamarine;
}

#name{
    width: 227px;
    border-radius: 7px;
    height: 25px;
    padding: 5px;
    margin: 5px 5px;
    background-color:cornsilk;
}

#check{
    padding: 5px;
    margin: 5px;
    
}

#mail{
    width: 227px;
    border-radius: 7px;
    height: 25px;
    padding: 5px;
    margin: 5px 5px;
    background-color:cornsilk;
}

#age{
    width: 227px;
    border-radius: 7px;
    height: 25px;
    padding: 5px;
    margin: 5px 5px;
    background-color:cornsilk;
}

#mem{
    width: 238px;
    border-radius: 7px;
    height: 30px;
    padding: 5px;
    margin: 5px 5px;
    background-color:cornsilk;
}

#train{
    width: 238px;
    border-radius: 7px;
    height: 30px;
    padding: 5px;
    margin: 5px 5px;
    background-color:cornsilk;
}

#submit{
    width: 150px;
    border-radius: 7px;
    height: 25px;
    padding: 5px;
    margin: 5px 5px;
    background-color: #1ab26b;
    margin-left: 50px;
    margin-top: 10px;
    color: #FFF;
}

#vid{
    position: absolute;
    top: 35%;
    left: 15%;
    width: auto;
    height: auto;
    /* margin: 50px 50px;
    padding: 50px 50px; */
    border-radius: 20px;
}

#wtrain{
    position: absolute;
    height: 300px;
    width: 30%;
    top: 90%;
    left: 2%;
    border-radius: 20px;
}

#hflag{
    position: absolute;
    height: 300px;
    width: 30%;
    top: 90%;
    left: 35%;
    border-radius: 20px;
}

#zumba{
    position: absolute;
    height: 300px;
    width: 30%;
    top: 90%;
    right: 2%;
    border-radius: 20px;
}

#wt{
    position: absolute;
    top: 85%;
    left: 13%;
    font-family:'Poppins';
    color:rgb(127, 209, 182);
    font-size: x-large;
}

#cal{
    position: absolute;
    top: 85%;
    left: 45%;
    font-family: 'Poppins';;
    color:rgb(127, 209, 182);
    font-size: x-large;
}

#zum{
    position: absolute;
    top: 85%;
    left: 80%;
    font-family: 'Poppins';;
    color:rgb(127, 209, 182);
    font-size: x-large;
}

/* .programs:hover img{
    filter: brightness(1.10);
} */

/* #zoomin{
    overflow: hidden;
} */

#zoomin img{
    transition: transform 1s;
}

#zoomin:hover img{
    transform: scale(1.1);
}


/* ----FOOTER----------------------------------------------------------------------------------------------------------------- */


.footer{
    width: 100%;
    height: 250px;
    border-bottom: solid 10px rgba(16, 16, 16, 0.1);
    font-family: 'Poppins';
    background-color:#1ab26b;
    display: flex;
    justify-content: center; 
    /* margin: 0 auto; */
    
}

.footer h5{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 18px;
    text-align: center;
    
}

#footmail{
    height: 40px;
    width: 450px;
    border-radius: 30px;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 2rem;
}

#footsubmit{
    height: 30px;
    width: 100px;
    margin-left: 11rem;
    border-radius: 20px;
    border: none;
    color: #FFF;
    background-color: black;
}

.col1{
    text-align: center;
    margin-right: 400px;
}

.col2{
    margin-right: 280px;
}

/* .programs{
    margin-bottom: 50px;
} */

.col1 a:hover{
    color: #FFF;
}


/* -----iphone SE------------------------------------------------------------------------------------------------------ */


@media (min-width:375px) and (max-width: 667px){
    
    .header{
        height: 100px;
        width: 375px;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        padding: 25px;
        margin-left: 100px;
        /* border:azure 3px; */
    }

    header nav{
        float: right;
        height: 100%;
        display: none;
    }

    #vid{
        position: absolute;
        top: 19%;
        left: 4.5%;
        width: auto;
        height: 193px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1450px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 50%;
        left: 36%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 55%;
        left: 12%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 115%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 155%;
        left: 4%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 82%;
        top: 196%;
        left: 8%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 110%;
        left: 23%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 150%;
        left: 25%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 190%;
        left: 35%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 570px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 25%;
        /* top: 30%; */
        padding: 170px 20px;
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        /* margin-left: 20px; */
        padding: 370px 0px 20px;
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}

/* -------iphone XR------------------------------------------------------------------------------------------------------------- */

@media (min-width:414px) and (max-width: 896px){
    
    .header{
        height: 100px;
        width: 200px;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        padding: 25px;
        margin-left: 100px;
        /* border:azure 3px; */
    }

    header nav{
        float: right;
        height: 100%;
        display: none;
    }

    #vid{
        position: absolute;
        top: 15%;
        left: 9%;
        width: auto;
        height: 193px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1450px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 40%;
        left: 36%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 45%;
        left: 16%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 90%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 120%;
        left: 4%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 180px;
        width: 82%;
        top: 150%;
        left: 8%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 85%;
        left: 23%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 115%;
        left: 25%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 145%;
        left: 35%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 570px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 29%;
        /* top: 30%; */
        padding: 170px 20px;
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        /* margin-left: 20px; */
        padding: 370px 0px 20px;
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}

/* -----12pro--------------------------------------------------------------------------------------------------------------- */

@media (min-width:390px) and (max-width: 844px){
    
    .header{
        height: 100px;
        width: 200px;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        padding: 25px;
        margin-left: 100px;
        /* border:azure 3px; */
    }

    header nav{
        float: right;
        height: 100%;
        display: none;
    }

    #vid{
        position: absolute;
        top: 15%;
        left: 6.5%;
        width: auto;
        height: 193px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1450px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 40%;
        left: 36%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 45%;
        left: 14%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 90%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 120%;
        left: 4%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 180px;
        width: 82%;
        top: 150%;
        left: 8%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 85%;
        left: 23%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 115%;
        left: 25%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 145%;
        left: 35%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 570px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 29%;
        /* top: 30%; */
        padding: 170px 20px;
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        /* margin-left: 20px; */
        padding: 370px 0px 20px;
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}


/* --1100 to 1400------------------------------------------------------------------------------------------------------------------ */

@media (min-width:1100px) and (max-width: 1400px){
    
    /* .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    } */
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 550px; */
        /* border:azure 3px; */
    /* } */

    /* header nav{
        float: right;
        height: 100%;
        margin-right: 300px;
        display: none; 
    } */

    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 90px;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: 400px;
        padding-top: 5px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 35px;
        padding-left: 108px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 100%;
    }

    #vid{
        position: absolute;
        top: 20%;
        left: 6%;
        width: auto;
        height: 393px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 850px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 20%;
        left: 76%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 25%;
        left: 70%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 35.5%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 67%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 70%;
        left: 12%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 70%;
        left: 43%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 70%;
        left: 78%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 230px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 9%;
        /* top: 30%; */
        /* padding: 170px 20px; */
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        margin-left: 900px;
        /* margin-left: 20px; */
        /* padding: 370px 0px 20px; */
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}



/* --900 to 1100------------------------------------------------------------------------------------------------------------------ */

@media (min-width:900px) and (max-width: 1100px){
    
    .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 360px; */
        /* border:azure 3px; */
    /* } */

    /*header nav{
        float: right;
        height: 100%;
        margin-right: 300px;
        display: none;
    } */

    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 90px;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: 135px;
        padding-top: 5px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 35px;
        padding-left: 108px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 100%;
    }


    #vid{
        position: absolute;
        top: 27%;
        left: 6%;
        width: auto;
        height: 300px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 850px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 20%;
        left: 73%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 25%;
        left: 65%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 35.5%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 67%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 70%;
        left: 12%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 70%;
        left: 43%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 70%;
        left: 78%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 230px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 9%;
        /* top: 30%; */
        /* padding: 170px 20px; */
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        margin-left: 700px;
        /* margin-left: 20px; */
        /* padding: 370px 0px 20px; */
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}


/* --800 to 900------------------------------------------------------------------------------------------------------------------ */

@media (min-width:800px) and (max-width: 900px){
    
    .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 360px; */
        /* border:azure 3px; */
    /* } */

    /*header nav{
        float: right;
        height: 100%;
        margin-right: 300px;
        display: none;
    } */


    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 90px;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: 135px;
        padding-top: 5px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 35px;
        padding-left: 108px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 100%;
    }

    #vid{
        position: absolute;
        top: 30%;
        left: 2%;
        width: auto;
        height: 250px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 850px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 20%;
        left: 71%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 25%;
        left: 61%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 35.5%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 75%;
        left: 67%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 70%;
        left: 12%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 70%;
        left: 43%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 70%;
        left: 78%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 365px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 9%;
        top: 90.5%;
        /* padding: 170px 20px; */
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        margin-left: 600px;
        top: 68%;
        /* margin-left: 20px; */
        /* padding: 370px 0px 20px; */
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}


/* --600 to 800------------------------------------------------------------------------------------------------------------------ */

@media (min-width:600px) and (max-width: 800px){
    
    .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 220px; */
        /* border:azure 3px; */
    /* } */

    /*header nav{
        float: right;
        height: 100%;
        margin-right: 300px;
        display: none;
    } */

    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 90px;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: -33px;
        padding-top: 5px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 35px;
        padding-left: 0px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 100%;
    }

    #vid{
        position: absolute;
        top: 15%;
        left: 20%;
        width: auto;
        height: 250px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1000px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 47%;
        left: 40%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 51%;
        left: 31%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 35.5%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 67%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 95%;
        left: 2%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 95%;
        left: 38%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 95%;
        left: 78%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 363px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 2%;
        top: 107.5%;
        /* padding: 170px 20px; */
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        margin-left: 470px;
        top: 85%;
        /* margin-left: 20px; */
        /* padding: 370px 0px 20px; */
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}


/* --rotate 500 to 600------------------------------------------------------------------------------------------------------------------ */

@media (min-width: 500px) and (max-width: 600px){
    
    .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 220px; */
        /* border:azure 3px; */
    /* } */

    /*header nav{
        float: right;
        height: 100%;
        margin-right: 300px;
        display: none;
    } */


    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 70px;
        width: 70;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: -33px;
        padding-top: 9px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 20px;
        padding-left: 0px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 100%;
        /* margin-right: 10px; */
    }


    #vid{
        position: absolute;
        top: 15%;
        left: 10%;
        width: auto;
        height: 250px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1000px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 47%;
        left: 40%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 51%;
        left: 31%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 35.5%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 67%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 95%;
        left: 2%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: larger;
    }
    
    #cal{
        position: absolute;
        top: 95%;
        left: 38%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 95%;
        left: 78%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 362px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: -3%;
        top: 107.5%;
        /* padding: 170px 20px; */
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        margin-left: 399px;
        top: 85%;
        /* margin-left: 20px; */
        /* padding: 370px 0px 20px; */
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}


@media (min-width: 500px) and (max-width: 600px){
    
    .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 220px; */
        /* border:azure 3px; */
    /* } */

    /*header nav{
        float: right;
        height: 100%;
        margin-right: 300px;
        display: none;
    } */


    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 70px;
        width: 70;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: -33px;
        padding-top: 9px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 20px;
        padding-left: 0px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 100%;
        /* margin-right: 10px; */
    }


    #vid{
        position: absolute;
        top: 15%;
        left: 10%;
        width: auto;
        height: 250px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1000px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 47%;
        left: 40%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 51%;
        left: 31%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 35.5%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 30%;
        top: 100%;
        left: 67%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 95%;
        left: 2%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: larger;
    }
    
    #cal{
        position: absolute;
        top: 95%;
        left: 38%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 95%;
        left: 78%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 362px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: -3%;
        top: 107.5%;
        /* padding: 170px 20px; */
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        margin-left: 399px;
        top: 85%;
        /* margin-left: 20px; */
        /* padding: 370px 0px 20px; */
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}


/* -----400px to 500px------------------------------------------------------------------------------------------------------ */


@media (min-width:400px) and (max-width: 500px){
    
    .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 100px; */
        /* border:azure 3px; */
    /* } */

    /*header nav{
        float: right;
        height: 100%;
        display: none;
    } */

    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 70px;
        width: 70;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: -33px;
        padding-top: 9px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 5px;
        padding-left: 0px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 65%;
        /* margin-right: 10px; */
    }



    #vid{
        position: absolute;
        top: 15%;
        left: 14.5%;
        width: auto;
        height: 193px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1450px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 39%;
        left: 36%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 43%;
        left: 18%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 84%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 114%;
        left: 4%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 82%;
        top: 144%;
        left: 8%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 80%;
        left: 26%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 110%;
        left: 28%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 140%;
        left: 38%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 570px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 30%;
        /* top: 30%; */
        padding: 170px 20px;
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        /* margin-left: 20px; */
        padding: 370px 0px 20px;
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}


/* -----400px to 500px------------------------------------------------------------------------------------------------------ */


@media (min-width:300px) and (max-width: 400px){
    
    .header{
        height: 100px;
        width: 100%;
        background-color:aquamarine;
        border-bottom: 10px solid rgba(16, 16, 16, 0.1);
    }
    
    /* .header img{
        height: 90px;
        border-radius: 300px;
        margin-left: 5px;
        margin-top: 5px;
    }

    header .name h1{
        text-align: left;
        color: darkslategrey;
        /* text-shadow: ; */
        /* padding: 25px; */
        /* margin-left: 100px; */
        /* border:azure 3px; */
    /* } */

    /*header nav{
        float: right;
        height: 100%;
        display: none;
    } */

    .name{
        color: darkslategrey;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Poppins';
        margin-top: 18px;
        width: 100%;
    }
    
    #logo{
        height: 70px;
        width: 70;
        border-radius: 300px;
        /* margin: 5px 400px 5px 0px; */
        margin-right: -33px;
        padding-top: 9px;
        /* float: left; */
    }
    
    .nav{
        padding-top: 5px;
        padding-left: 0px;
        text-decoration: none;
        font-family: 'Poppins';
        width: 65%;
        /* margin-right: 10px; */
    }



    #vid{
        position: absolute;
        top: 15%;
        left: 6.5%;
        width: auto;
        height: 150px;
        /* margin: 50px 50px;
        padding: 50px 50px; */
        border-radius: 20px;
    }

    #bgimg{
        /* background-size: cover; */
        /* width: 1920px; */
        height: 1450px;
        backdrop-filter: blur(50px);
        /* height: 100%; */
        width: 100%;
        filter: blur(4px);
    }

    h2{
        position: absolute;
        top: 39%;
        left: 36%;
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aquamarine;
    }

    #form{
        position: absolute;
        top: 43%;
        left: 3%;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        width: 250px;
        /* height: 200px; */
        font-size: 20px;
        border: 2px solid aquamarine;
        box-shadow:10px 10px 15px black;
        color: aquamarine;
    }

    #wtrain{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 84%;
        left: 4%;
        border-radius: 20px;
    }
    
    #hflag{
        position: absolute;
        height: 200px;
        width: 90%;
        top: 114%;
        left: 4%;
        border-radius: 20px;
    }
    
    #zumba{
        position: absolute;
        height: 200px;
        width: 82%;
        top: 144%;
        left: 8%;
        border-radius: 20px;
    }
    
    #wt{
        position: absolute;
        top: 80%;
        left: 18%;
        font-family:'Poppins';
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #cal{
        position: absolute;
        top: 110%;
        left: 28%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    #zum{
        position: absolute;
        top: 140%;
        left: 38%;
        font-family: 'Poppins';;
        color:rgb(127, 209, 182);
        font-size: x-large;
    }
    
    .footer{
        width: 100vw;
        height: 570px;
        border-bottom: solid 10px rgba(16, 16, 16, 0.1);
        font-family: 'Poppins';
        background-color:#1ab26b;
        display: flex;
        justify-content: center;
        /* margin: 0 auto; */
        
    }

    .col1{
        position: absolute;
        /* text-align: center; */
        margin-right: 40px;
        left: 22%;
        /* top: 30%; */
        padding: 170px 20px;
    }
    
    .col2{
        position: absolute;
        padding-left: 270px;
        /* left: 2%; */
    }

    .col3{
        position: absolute;
        /* margin-left: 20px; */
        padding: 370px 0px 20px;
    }

    #footmail{
        height: 40px;
        width: 300px;
        border-radius: 30px;
        text-align: center;
        border: none;
        outline: none;
        margin-bottom: 1.5rem;
    }

    #footsubmit{
        height: 30px;
        width: 100px;
        margin-left: 6.3rem;
        border-radius: 20px;
        border: none;
        color: #FFF;
        background-color: black;
    }
    
}